#edit_task, #create-task{
color:white;
font-size:150%;
visibility:hidden;
position: fixed;
top: 30%;
left: 10%;
width:80%;
height:40%;
z-index: 99;
background-color: rgba(20,1,77,0.7);
padding: 20px;
}

#delete_task{
color:white;
font-size:150%;
visibility:hidden;
position: fixed;
top: 30%;
left: 10%;
width:55%;
height:30%;
z-index: 99;
background-color: rgba(20,1,77,0.7);
padding: 20px;
}
#delete-row{
  color:yellow;
  font-size:90%;
}
#trash-button, #edit-button{
  visibility:hidden;
}
    table {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;
    }

    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #517994;
        background-color: #B2CFD8;
    }

    table tr:hover td {
        background-color: #DFEBF1;
    }

    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #517994;
        background-color: #ffffff;
    }
